<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Змейка</title>
    <link rel="stylesheet" href="{% static 'css/snake.css' %}"/>
    <script async src="{% static 'js/snake.js' %}"></script>
</head>

<body>
    <div id="menu">
        <a href="{% url 'main:index' %}" class="menuButton">домой</a>
    </div>

    <div id="game-score">
        Съедено еды: <span id="score-count">0</span>
    </div>

    <div id="game-wrap">
        <table id="game"></table>
    </div>

    <div id="menu">
        <div id="newGameButton" class="menuButton">Новая игра</div>
        <div id="playButton" class="menuButton">Старт</div>
    </div>
</body>

</html>